
.myheader .ali{
  background-color: teal;
}



.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}


@media (max-width: 100px) {
  .show-when-mobile {
    display: block;
  }
  
  .hide-when-mobile {
    display: none;
  }
}



/* ================
loga ani
================*/

.logo {
  animation: letter-spacing-ani 10s infinite linear;
}



@keyframes letter-spacing-ani {
  0% , 100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
    letter-spacing: 7px;
  }
}












